
body {
    margin: 0;
    background-image: url("../images/webb.png");
   
}

.page-header {
    background-image: url("../images/joanna-kosinska-Uvl3W4XWd4U-unsplash.jpg");
    color: white;
    padding-top: 30px;
    padding-bottom: 30px;
}

h1,
h3 {
    font-family: 'Righteous', sans-serif;
    text-align: center;
}

h3 {
    color: red;
}

#subtitle {
    padding-top: 20px;
    padding-bottom: 20px;
}
header {
    font-weight: bolder;
    font-size: 30px;
}

.instructions {
    border: red solid 1px;
    color: black;
}
p {
    font-family: 'Exo' serif;
    font-weight: normal;
    font-size: 15px;
}


.col-md-2 {
    margin: auto;
    padding-top: 30px;
    padding-left: 30px;
}

#score-container {
    border: black solid 1px;
    padding-top: 20px;
    height: 100px;
    margin-top: 60px;

}

#tally-container {
    border: black solid 1px;
    padding-top: 20px;
    height: 175px;
    margin-top: 30px;
}

h2 {
    font-family: 'Bungee Inline', sans-serif;
    font-size: 20px;
    text-align: center;
}

#score-square {
    border: red solid 1px;
    margin: 20px;
    padding: 10px;
}
h6 {
    text-align: center;
}

.wins-num {
    text-align: center;
}