
.page-header {
    background-image: url("../images/joanna-kosinska-Uvl3W4XWd4U-unsplash.jpg");
    color: white;
    padding-top: 30px;
    padding-bottom: 30px;
}

h1,
h3 {
    font-family: 'Righteous', sans-serif;
    text-align: center;
}

#subtitle {
    background-image: url("../images/daniele-levis-pelusi-NXt2h4AQZVU-unsplash.jpg");
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
}
header {
    font-weight: bolder;
    font-size: 30px;
}

.instructions {
    background-image: url("../images/moritz-weibold-3usWtAtVR-8-unsplash.jpg");
    color: whitesmoke;
}
p {
    font-family: 'Exo' serif;
    font-weight: normal;
}

.col-md-2 {
    margin: auto;
}

h2 {
    font-family: 'Bungee Inline', sans-serif;
    font-size: 20px;
    text-align: center;
}

h6 {
    text-align: center;
}

.wins-num {
    text-align: center;
}